<div class="row pb-5">
    <div class="col-md-6 text-center">
        <h3>Ready To Eat</h3>
        <hr>
        <ui class="list-group">
            {{#each burgers}}
            {{#unless devoured}}
            <li class="pt-2 pb-2 border-bottom">
                <div class="row">
                    <div class="col-md-8">
                        {{burger_name}}
                    </div>
                    <div class="col-md-4">
                        <button data-id={{id}} class="eat btn  btn-sm btn-outline-secondary">Devour</button>
                    </div>
            </li>
            {{/unless}}
            {{/each}}
        </ui>
    </div>
    <div class="col-md-6 text-center">
        <h3>Past Burger Creations</h3>
        <hr>
        <ui class="list-group">
            {{#each burgers}}
            {{#if devoured}}
            <li class="pt-2 pb-2 border-bottom">
                {{burger_name}}
            </li>
            {{/if}}
            {{/each}}
        </ui>
    </div>
</div>
</div>