body {
        font-family: 'Ubuntu', sans-serif;
        background-color: darkgray;
        color: #5d5C61;
}

.banner {
    font-family: 'Girassol', cursive;
    color: #001B44;
}

li {
    font-size: larger;
    list-style-type: none;
}

.lead {
    font-size: medium;
}

.container{
    background-color: rgba(211, 211, 211, 0.6);
}

